<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.korinc.sockettest"
    android:versionCode="16"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ST"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <!-- android:screenOrientation="portrait" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MappingList"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".VoiceFnMappingList"
            android:label="@string/title_activity_voice_fn_mapping_list"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".FnBind"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_fn_select"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FnBynId"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_fn_byn_id"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchFromTaskBar"
            android:label="@string/title_activity_launch_from_task_bar"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>

        <receiver
            android:name="net.dinglisch.android.tasker.FireReceiver"
            android:exported="true"
            android:process=":background" >

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>

        <receiver
            android:name=".ConnectionChangeReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
